<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NewJifen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,581},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>NewJifen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,74},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>NewJifen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,655},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>NewJifen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,536},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>NewJifen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,700},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>NewJifen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,699},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>NewJifen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,655},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>NewJifen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,671},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>NewJifen8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,626},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>NewJifen9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,705},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>UI_PublicNew_ManualBtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>UI_PublicNew_ManualBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,287},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>UI_PublicNew_ManualBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>UI_PublicNew_MoneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,29}}</string>
                <key>sourceSize</key>
                <string>{154,29}</string>
            </dict>
            <key>UI_PublicNew_MoneyBgNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,32},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>UI_PublicNew_MoneyCopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,573},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>UI_PublicNew_MoneyDynamic.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,287},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>UI_PublicNew_MoneyGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,439},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>UI_PublicNew_MoneyShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,536},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>UI_PublicNew_PVPJifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,709},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>UI_PublicNew_PVPMedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,483},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>UI_PublicNew_PVPMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,659},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>UI_PublicNew_PVPText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,344},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>UI_PublicNew_PVPText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,388},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>UI_PublicNew_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,194},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>UI_PublicNew_Rank1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,668},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>UI_PublicNew_Rank2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,714},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>UI_PublicNew_Rank3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,628},{59,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,38}}</string>
                <key>sourceSize</key>
                <string>{59,38}</string>
            </dict>
            <key>UI_PublicNew_RankTextWei.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,593},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>UI_PublicNew_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,74},{130,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,118}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
            <key>UI_PublicNew_Skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,593},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UI_PublicNew_SkillArrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,671},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>UI_PublicNew_SkillArrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,617},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>UI_PublicNew_SkillArrowBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,527},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>UI_PublicNew_SkillIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,101},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>UI_PublicNew_SkillIconShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>UI_PublicNew_SkillLvBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,500},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>UI_PublicNew_SkillLvCircleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,714},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UI_PublicNew_SkillMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,191},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>UI_PublicNew_SkillShadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,560},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>UI_PublicNew_SkillWatchBtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,389},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>UI_PublicNew_SkillWatchBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>UI_PublicNew_SkillWatchBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,491},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PublicSystem.png</string>
            <key>size</key>
            <string>{256,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d64e24ad5e1ebfcf376e16aca088b468:552c18d08884f3d28742a6834216b978:3cbdbe434c2a1b2236564307768fc9a6$</string>
            <key>textureFileName</key>
            <string>PublicSystem.png</string>
        </dict>
    </dict>
</plist>
